<%= form_for(@pokemonlist) do |f| %>
  <% if @pokemonlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pokemonlist.errors.count, "error") %> prohibited this pokemonlist from being saved:</h2>

      <ul>
      <% @pokemonlist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no %><br />
    <%= f.number_field :no %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :typea %><br />
    <%= f.text_field :typea %>
  </div>
  <div class="field">
    <%= f.label :typeb %><br />
    <%= f.text_field :typeb %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
